.cards{
    padding-top: 30px;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px,1fr));
    gap: 30px;
    font-family: sans-serif;
    .card{
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    }
    .card-image{
        width: 100%;
        display: block;
        object-fit: cover;
    }
    .card-content{
        line-height: 1.5;
        font-size: 0.9rem;
        padding: 15px;
        background: #e7e4e4;
            span{
                color: black;
                font-weight: bold;
            }
            p{
                margin: 0;
            }
    }
    .card-info{
        margin-top: 5px;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #eeee;
        font-size: 0.8rem;
        border-bottom: 2px solid #cccc;
    }
}