*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    padding: 90px 20px 0;
}
.header{
    background-color:#670DDA ;
    height: 90px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    

    
    margin: 0 auto; 
}
.nav-link{
    color: white;
    text-decoration: none;
}
.img-nav-logo{
    padding: 0 40px;
    line-height: 90px;
  }
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 90px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover{
    background-color: #48069e;
    transition: 0.3s;
}
.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 40px;
    padding: 0 30;
    line-height: 60px;
    margin-right: 20px;
    cursor: pointer;

    display: none;
}
@media (max-width: 778px){
    body{
        padding-top: 90px;
    }
    .header{
        height:70px ;
    }
    .logo{
        font-size: 25px;
        padding: 0 20px;
        line-height: 70px;
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #2c075c;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding:20px 0;
        height: calc(100%-60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    .nav-menu-item{
        line-height: 70px;
    }
    .nav-menu-link{
        line-height: 70px;
    }

    .nav-menu-link:hover{
        background:none;
        color: #550cb4;
    }
    .nav-toggle{
        display: block;
    }
    .nav-menu-visible{
        left: 0;
    }
} 
.section-index{
    margin-top: 20px;
}
.header-index{
    font-size: 30px     ;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 10px;
}
.span-index{
    font-size: 14px;
    color: gray;
    font-family: sans-serif;
    font-weight: bold;
}
.cards{
    padding-top: 30px;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px,1fr));
    gap: 30px;
    font-family: sans-serif;
}
.card{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

}
.card-image{
    width: 100%;
    display: block;
    object-fit: cover;
}
.card-content{
    line-height: 1.5;
    font-size: 0.9rem;
    padding: 15px;
    background: #e7e4e4;
}
/* .card-content > p :first-of-type{
margin-top: 0;
font-weight: bold;
}
.card-content > p:last-of-type{
    margin-bottom: 0;
}  */
.card-content span{
    color: black;
    font-weight: bold;
}
.card-content p {
    margin: 0;
}

.card-info{
    margin-top: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eeee;
    font-size: 0.8rem;
    border-bottom: 2px solid #cccc;
}
/* footer */
.pie-pagina{
    width: 100%;
    background-color: #48069e;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color:#48069e;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #8963bb;
}
.pie-pagina .grupo-2{
    background-color: #3c0286;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width :778px) {
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr) ;
        grid-gap:30px;
        padding: 35px 0px;
    }
}
/* formulario */
.formulario-content{
    max-width:1200px ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    padding: 1.5em;
    
}
.formulario-logo{
    text-align: center;
    font-size: 3em;
}
.formulario-content-wrapper{
    box-shadow: 0 0 20px 0 rgba(72,6,158, 0.3);
}
.formulario-content-wrapper > *{
    padding: 1em;
}
.contact-form form{
    display: grid ;
    grid-template-columns: 1fr 1fr;
}
.contact-form form .block{
    grid-column: 1/3 ;
}
.contact-form form p{
    margin: 0;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
}
.contact-form form button,
.contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: .7em;
    outline: none;
}
.contact-form form button{
    text-transform: uppercase;
    padding: 1em;
}
.contact-form form button:hover,
.contact-form form button:focus{
    background:#3c0286 ;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}
.contact-info{
    background-color:#3c0286 ;
    color: #fff;
    padding-top: 1em;
}
.contact-info h4,
.contact-info ul,
.contact-info p{
    text-align: center;
    margin: 0 0 1rem 0;
}
.contact-info ul{
    list-style: none;
    padding: 0;
}
.contact-info ul li{
    padding: .3em;
}
.contact-info ul li i {
    padding-right: .5rem;
}
/* large size */
@media (min-width:778px){
    .formulario-content-wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .formulario-content-wrapper > *{
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p{
        padding: 1em;
        text-align: left;
    }
    .contact-form form button,
    .contact-form form input,
    .contact-form form textarea{
    width: 100%;
    padding: .3em;
    outline: none;
}
.row{
    display: flex;
    flex-direction: row;
}
}