.cards {
  padding-top: 30px;
  margin: 0 auto;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(225px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 30px;
  font-family: sans-serif;
}

.cards .card {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.cards .card-image {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards .card-content {
  line-height: 1.5;
  font-size: 0.9rem;
  padding: 15px;
  background: #e7e4e4;
}

.cards .card-content span {
  color: black;
  font-weight: bold;
}

.cards .card-content p {
  margin: 0;
}

.cards .card-info {
  margin-top: 5px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #eeee;
  font-size: 0.8rem;
  border-bottom: 2px solid #cccc;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 90px 20px 0;
}

.header {
  background-color: #670DDA;
  height: 90px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.img-nav-logo {
  padding: 0 40px;
  line-height: 90px;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 90px;
  text-transform: uppercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover {
  background-color: #48069e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 40px;
  padding: 0 30;
  line-height: 60px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

@media (max-width: 863px) {
  body {
    padding-top: 90px;
  }
  .header {
    height: 70px;
  }
  .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 70px;
  }
  .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 20px;
    background-color: #2c075c;
    position: fixed;
    left: 0;
    top: 75px;
    width: 100%;
    padding: 20px 0;
    height: calc(100%-60px);
    overflow-y: auto;
    left: 100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    z-index: 999;

  }
  .nav-menu-item {
    line-height: 70px;
  }
  .nav-menu-link {
    line-height: 70px;
  }
  .nav-menu-link:hover {
    background: none;
    color: #550cb4;
  }
  .nav-toggle {
    display: block;
  }
  .nav-menu-visible {
    left: 0;
  }
}

.section-index {
  margin-top: 20px;
}

.header-index {
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 10px;
  
}
/* section for banners */
.banner-container-anime{
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  background-image: url("../img/webps/banner-images/banner-anime.webp");
  width: 100%;
  height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1em;
}

.text-banner-anime{
  display: block;
  position: relative;
  align-content: center;
  margin: auto;
  color: #000000;
}
.text-banner-anime h1{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* end section banner with image (Anime)  */

/* start for section with image and banner image properties (Manga)  */
.banner-container-anime{
margin-top: 1rem;
margin-bottom: 1rem;
background-image: url("../img/webps/banner-images/banner-anime.webp");
width: 100%;
height: 40vh;
background-size: cover;
background-repeat: no-repeat;
border-radius: 1em;
}
@media (min-width:300px){
  .banner-container-anime{
width: 100%;
height: 30vh;
  }
}
@media (orientation: landscape) {
  .banner-container-anime{
width: 100%;
height: 70vh;
  }
}

.text-banner-anime{
display: block;
position: relative;
align-content: center;
margin: auto;
color: #000000;
}
.text-banner-anime h1{
display: flex;
align-items: center;
justify-content: center;
}
/* section for banners */

.span-index {
  font-size: 20px;
  color: gray;
  font-family: sans-serif;
  font-weight: bold;
}

.section-2 {
  background-color: #f3eff5;
  margin-top: 1em;
}
/* slider */
.section-slider{
  padding-top: 10px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (orientation: landscape) {
  .section-slider{
    padding-top: 300px;
    margin-bottom: 300px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.slider{
  position: absolute;
  background: #000116;
  width: 800px;
  min-height: 500px;
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;

}
.slider .slide{
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}
.slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}


.slider .slide img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .slide .info-slide {
  position: absolute;
  color: #222;
  background: rgba(241, 232, 232, 0.753);
  width: 75%;
  margin-top: 50px;
  margin-left: 50px;
  padding: 20px;
  border-radius: 5px ;
  box-shadow: 0 5px 25px rgb(1 1 1 /5%);
}
.slider .slide  .info-slide h2 {
  font-size: 2em;
  font-weight: 800;
}
.slider .slide .info-slide p{
  font-size: 1em;
  font-style: 400;
  padding-bottom: 1em;
}
/* slider navigation */
.navigation{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.slider:hover .navigation{
  opacity: 1;
}
.button1{
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255,255,255,0.8);
  padding: 10px;
  cursor: pointer;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.button2{
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255,255,255,0.8);
  padding: 10px;
  cursor: pointer;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.navigation-visibility{
  z-index: 999;
  display: flex;
  justify-content: center;
}
.navigation-visibility .slide-icon{
  z-index: 999;
  background: rgba(255,255,255,0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active{
  background:#48069e ;
}
@media(max-width: 840px){
  .slider{
    width: 70%;
  }
  .slider .slide .info-slide{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media(max-width :800px){
  .slider .slide .info-slide h2{
    font-size: 1.8em;
    line-height: 40px;
  }
  .slider .slide .info-slide p{
    font-size: 0.9em;
    padding-bottom: 1em;
  }
}

/* footer */
.pie-pagina {
  width: 100%;
  background-color: #48069e;
  margin-top: 2em;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #48069e;
  text-align: center;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: #8963bb;
}

.pie-pagina .grupo-2 {
  background-color: #3c0286;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 778px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

/* formulario */
.formulario-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  padding: 1.5em;
}

.formulario-logo {
  text-align: center;
  font-size: 3em;
}

.formulario-content-wrapper {
  -webkit-box-shadow: 0 0 20px 0 rgba(72, 6, 158, 0.3);
          box-shadow: 0 0 20px 0 rgba(72, 6, 158, 0.3);
}

.formulario-content-wrapper > * {
  padding: 1em;
}

.contact-form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contact-form form .block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.contact-form form p {
  margin: 0;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  outline: none;
}

.contact-form form button {
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #3c0286;
  color: #fff;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contact-info {
  background-color: #3c0286;
  color: #fff;
  padding-top: 1em;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info ul li {
  padding: .3em;
}

.contact-info ul li i {
  padding-right: .5rem;
}

/* large size */
@media (min-width: 863px) {
  .formulario-content-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .formulario-content-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    padding: 1em;
    text-align: left;
  }
  .contact-form form button,
  .contact-form form input,
  .contact-form form textarea {
    width: 100%;
    padding: .3em;
    outline: none;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=estilos.css.map */